.form-heading {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 700px;
  padding-top: 5%;
}
.form-arrange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3%;
}
.img-form-align {
  display: flex;
  justify-content: center;
  gap: 4%;
}
.label-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label-name {
  color: var(--secondary-color);
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 600;
}
.input-field-name {
  width: 275px;
  height: 40px;
  padding: 1%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  background-color: transparent;
  background-color: transparent;
}

.input-field-area {
  width: 100%;
  height: 120px;
  padding: 1%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  background-color: transparent;
}

.input-field {
  width: 100%;
  height: 40px;
  padding: 1%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  background-color: transparent;
}

.name-email {
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: space-around;
}
.select-con {
  width: 102%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}
.drop-option {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: 600;
}

.check-box-head {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  padding-left: 5px;
}

.contact-btn {
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  background-color: transparent;
  border: solid white 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
}

/* section2 */
.map-heading {
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-size: 32px;
  font-weight: 700px;
  padding-top: 20px;
  text-align: center;
}
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/mav-bg.png);
  animation: gradientAnimation 5s ease-out infinite;
  height: auto; /* This will make the container full height of the viewport */
}

.map-styles {
  width: 90%;
  height: 500px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 4%;
}

/* Define the animation for the background image movement */
@keyframes backgroundImageAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Define the animation for the gradient color change */
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(
      135deg,
      rgba(14, 13, 35, 0.96) 0%,
      rgba(0, 104, 56, 0.7) 100%
    );
  }
  50% {
    background: linear-gradient(
      135deg,
      rgba(0, 104, 56, 0.7) 0%,
      rgba(14, 13, 50, 0.96) 100%
    );
  }
  100% {
    background: linear-gradient(
      135deg,
      rgba(14, 13, 50, 0.96) 0%,
      rgba(0, 104, 56, 0.8) 100%
    );
  }
}

.get-in-con {
  /* Adjust height as needed to ensure visibility */
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/motion-bg.png);
  background-position-y: 30px !important;
  background-size: 25% auto;
  background-repeat: no-repeat;
  background-position: center; /* Corrected from 'cente' to 'center' */
  animation: backgroundImageAnimation 2.5s ease-out infinite;
  padding-bottom: 4%;
  position: relative;
  overflow: hidden;
}

/* Pseudo-element for gradient animation */
.get-in-con::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Initially transparent for troubleshooting */
  animation: gradientAnimation 5s ease-out infinite;
  z-index: 1; /* Ensure it overlays the background image */
  pointer-events: none; /* Allows interaction with elements below */
}
.map-heading {
  width: 40%;
  margin: auto;
  z-index: 2;
}
.contact-btn {
  position: relative; /* Ensure these elements appear above the gradient */
  z-index: 2;
}
