.form-heading {
  font-family: var(--font-family);
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 900;
  padding-top: 5%;
}
.form-arrange {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3%;
}
.img-form-align {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-between;
  gap: 4%;
}
.label-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.label-name {
  color: var(--secondary-color);
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: 600;
}
.input-field-name {
  width: 275px;
  height: 40px;
  padding: 1%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  background-color: transparent;
  background-color: transparent;
}

.input-field-area {
  width: 100%;
  height: 120px;
  padding: 1%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  background-color: transparent;
}

.input-field {
  width: 100%;
  height: 40px;
  padding: 1%;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  background-color: transparent;
}

.name-email {
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: space-around;
}
.select-con {
  width: 102%;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
}
.drop-option {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: 600;
}

#charCount {
  font-size: 14px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  margin-top: 5px;
}

.check-box-head {
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-weight: 600;
  padding-left: 5px;
}

.contact-btn {
  width: 200px;
  height: 40px;
  font-size: 16px;
  font-family: var(--font-family);
  color: var(--secondary-color);
  background-color: transparent;
  border: solid white 1px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
}

/* largers screens  */
@media screen and (min-width:1650px){
  .img-form-align{
    width: 95%;
    justify-content: space-around;
  }
  .label-name{
    font-size: 20px;
  }
}
/* smaller screen */
@media screen and (min-width: 1040px) and (max-width: 1280px) {
  .form-heading {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .img-form-align {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
    gap: 4%;
  }

  .form-arrange {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
    gap: 2%;
  }

  .name-email {
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    width: 100%;
  }

  .input-field-name,
  .input-field,
  .input-field-area,
  .select-con {
    width: 100%;
  }

  .tandc {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
  }

  .contact-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  /* Adjust the image size if needed */
  .contact-img {
    width: 450px; /* Adjust this percentage as needed */
    height: 620px;
  }
}

/* Mobile View Styles */
@media only screen and (max-width: 767px) {
  .contact-img {
    width: 100vw;
    /* height: auto; */
    /* margin: 0; */
    margin-top: -11%;
  }

  .img-form-align {
    flex-direction: column; /* Stack image and form vertically */
    align-items: center; /* Center align items */
    width: 90%; /* Adjust width for mobile */
    gap: 2%; /* Reduce gap for mobile */
  }

  .form-arrange {
    width: 100%; /* Full width for form */
    align-items: center; /* Center align form elements */
  }

  .form-heading {
    font-size: 24px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: 900 !important;
  }

  .input-field-name,
  .input-field,
  .input-field-area {
    width: 100%; /* Full width inputs */
    font-size: 14px; /* Smaller font size */
  }

  .input-field-name {
    max-width: 100%; /* Ensure no overflow */
  }

  .input-field-area {
    height: 100px; /* Reduced height for mobile */
  }

  .select-con {
    width: 100%; /* Full width select input */
    height: 40px; /* Adjust height */
    font-size: 14px; /* Smaller font size */
  }

  .name-email {
    gap: 10px; /* Adjust gap */
    align-items: stretch; /* Stretch items to fit width */
  }
  .tandc {
    display: flex;
    flex-direction: column;
    /* gap: 9px; */
    margin-left: -30px;
    /* align-items: stretch; */
    padding-top: 10px;
  }
  .check-box-head {
    font-size: 14px; /* Smaller font size */
    padding-left: 0; /* Remove left padding */
    text-align: center; /* Center align text */
  }

  .contact-btn {
    width: 100%; /* Full width button */
    font-size: 14px; /* Smaller font size */
    padding: 10px;
    margin-bottom: 30px; /* Adequate padding */
  }

  .label-field {
    width: 100%; /* Full width for label fields */
  }

  .label-name {
    font-size: 14px; /* Smaller font size */
  }
}

/* section2 */
.map-heading {
  font-family: var(--font-family);
  color: var(--secondary-color);
  font-size: 30px;
  font-weight: 700px;
  padding-top: 20px;
  text-align: center;
}
.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/mav-bg.png);
  animation: gradientAnimation 5s ease-out infinite;
  height: auto; /* This will make the container full height of the viewport */
}

.map-styles {
  width: 90%;
  height: 500px;
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  margin: 4%;
}

/* larger screens */
@media screen and (min-width:1650px){
  .map-styles{
    width: 84%;
  }
}
/* Mobile View Styles */
@media only screen and (max-width: 767px) {
  .map-heading {
    font-size: 24px; /* Smaller font size for mobile */
    padding-top: 10px; /* Adjust padding for mobile */
  }

  .map-container {
    background-image: url(./images/mav-bg.png); /* Ensure background image fits well */
    padding: 10px; /* Add padding to avoid content touching edges */
  }

  .map-styles {
    width: 100%; /* Full width for mobile */
    height: 300px; /* Reduced height for mobile */
    margin: 2% 0; /* Adjust margin for better spacing */
  }
}

/* Define the animation for the background image movement */
@keyframes backgroundImageAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Define the animation for the gradient color change */
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(
      135deg,
      rgba(14, 13, 35, 0.96) 0%,
      rgba(0, 104, 56, 0.7) 100%
    );
  }
  50% {
    background: linear-gradient(
      135deg,
      rgba(0, 104, 56, 0.7) 0%,
      rgba(14, 13, 50, 0.96) 100%
    );
  }
  100% {
    background: linear-gradient(
      135deg,
      rgba(14, 13, 50, 0.96) 0%,
      rgba(0, 104, 56, 0.8) 100%
    );
  }
}

.get-in-con {
  /* Adjust height as needed to ensure visibility */
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./images/motion-bg.png);
  background-position-y: 30px !important;
  background-size: 25% auto;
  background-repeat: no-repeat;
  background-position: center; /* Corrected from 'cente' to 'center' */
  animation: backgroundImageAnimation 2.5s ease-out infinite;
  padding-bottom: 4%;
  position: relative;
  overflow: hidden;
}

/* Pseudo-element for gradient animation */
.get-in-con::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* Initially transparent for troubleshooting */
  animation: gradientAnimation 5s linear infinite;
  z-index: 1; /* Ensure it overlays the background image */
  pointer-events: none; /* Allows interaction with elements below */
}
.map-heading {
  margin: auto;
  z-index: 2;
}
.contact-btn {
  position: relative; /* Ensure these elements appear above the gradient */
  z-index: 2;
}
/* large screens */
@media screen and (min-width:1650px){
  .contact-btn{
    font-size: 20px;
  }
}
/* Mobile View Styles */
@media only screen and (max-width: 767px) {
  .get-in-con {
    height: 20vh; /* Adjust height for better fitting on mobile */
    padding: 20px 10px; /* Add padding for mobile */
    background-size: 100% auto; /* Adjust background size for mobile */
  }

  .map-heading {
    font-size: 20px; /* Scale down font size */
    text-align: center; /* Center align heading */
    margin-bottom: 20px; /* Add margin below heading */
  }

  .contact-btn2 {
    width: 50%; /* Full width button */
    font-size: 16px; /* Adjust font size for mobile */
    padding: 10px; /* Ensure adequate padding */
    border: solid white 1px; /* Ensure button border is visible */
    border-radius: 10px; /* Consistent border radius */
    margin: 18px; /* Remove margin for mobile */
  }
}

/* popo-up para */
/* pop-up */
.popup {
  display: none;
  /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  /* Adjust height to fit content */
  background-color: var(--primary-color);
  /* Background color */
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1000;
  text-align: center;
}

.pop-up-heading {
  font-size: 30px;
  /* Adjust font size for better fit */
  font-family: var(--font-family);
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 2px;
  margin-bottom: 10px;
  /* Margin for spacing */
}

.pop-up-para {
  color: #ffffff;
  font-size: 16px;
  /* Adjust font size for better fit */
  font-family: var(--font-family);
  font-weight: 600;
  margin-bottom: 20px;
  /* Margin for spacing */
}

.close-btn {
  margin-top: 10px;
  width: auto;
  /* Adjust width for better fit */
  height: auto;
  font-family: var(--font-family);
  font-size: 10px;
  /* Adjust font size for better fit */
  background-color: #1e1b25;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  /* Transition for hover effect */
}

.close-btn:hover {
  background-color: #ffffff;
  color: #1e1b25;
  font-family: var(--font-family);
}

/* mobile screen */
@media screen and (max-width:768px){
  .popup{
    width: 84%;
  }
  .pop-up-heading{
    font-size: 24px;
  }
}